<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
            initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <title>Gestión de matriculas</title>
    <style>
        .tablas {
            display: flex;
            width: 60%;
            margin: auto;
            justify-content: center;
        }

        .tabla {
            margin: 30px;
        }

        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Bienvenido <span th:text="${alumno.nombre}"></h1>
    <div class="tablas">
        <div class="tabla">
            <p>Estas matriculado en los siguientes cursos: </p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="valor: ${alumno.cursos}">
                        <th scope="row">
                            <p th:text="${valor.curso.denominacion}"></p>
                        </th>
                        <td><a th:href="@{eliminarMatricula(idalumno=${alumno.idalumno},
                                        idcurso=${valor.curso.idcurso})}">Quitar
                                matrícula</a></td>
                    </tr>
            </table>
        </div>

        <div class="tabla">
            <p>Cursos que te pueden interesar</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cursos disponibles
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:each="curso: ${listaCurso}" th:href="@{matricularse(idcurso=${curso.idcurso},
                        idalumno=${alumno.idalumno})}"><span
                            th:text="${curso.denominacion}"></span></a>
                </div>
            </div>
        </div>
    </div>
    <p th:text="${respuesta}"></p>
    <a th:href="@{lista}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Volver
        al inicio</a>

</body>

</html>